

{{> head}}
{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Node JS</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis eum nulla pariatur repudiandae hic exercitationem aliquam qui quod repellat laboriosam earum quia, fuga ex distinctio at. Amet inventore ad provident!
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/node1.jpeg"class="img-thumbnail">
    </div>

</div>

{{> footer}}